body {
  background-image: url('/static/workbench/images/white.jpg');
  font-family: "Garmond"
}

.search_input_nav:active {
  background-color: rgb(68, 66, 66);
  color: white
}

.search_input_nav:hover {
  background-color: rgb(68, 66, 66);
  color: white
}

.search_input_nav:focus {
  background-color: rgb(68, 66, 66);
  color: white;
  box-shadow: none;
}

.border_bottom_black {
  border-bottom: 2px solid black;
}

.border_white {
  border: 2px solid white !important;
}

.rectangle_border {
  border-radius: 0rem;
}

.center_text {
  text-align: center;
}

.margin_auto {
  margin: auto;
}

.margin_right_0p {
  margin-right: 0%;
}

.margin_right_1p {
  margin-right: 1%;
}

.margin_right_2p {
  margin-right: 2%;
}

.margin_right_3p {
  margin-right: 3%;
}

.margin_right_5p {
  margin-right: 5%;
}

.margin_left_0p {
  margin-left: 0% !important;
}

.margin_left_1p {
  margin-left: 1% !important;
}

.margin_left_2p {
  margin-left: 2% !important;
}

.margin_left_3p {
  margin-left: 3% !important;
}

.margin_left_5p {
  margin-left: 5% !important;
}

.margin_top_0p {
  margin-top: 0%;
}

.margin_top_1p {
  margin-top: 1%;
}

.margin_top_2p {
  margin-top: 2%;
}

.margin_top_3p {
  margin-top: 3% !important;
}

.margin_top_4p {
  margin-top: 4%;
}

.margin_top_5p {
  margin-top: 5%;
}

.margin_top_10p {
  margin-top: 10%;
}

.margin_bottom_0p {
  margin-bottom: 0%;
}

.margin_bottom_1p {
  margin-bottom: 1%;
}

.margin_bottom_2p {
  margin-bottom: 2%;
}

.margin_bottom_3p {
  margin-bottom: 3%;
}

.margin_bottom_4p {
  margin-bottom: 4%;
}

.margin_bottom_5p {
  margin-bottom: 5%;
}

.margin_bottom_10p {
  margin-bottom: 10%;
}

.margin_auto {
  margin: auto
}

.bg_dark_gray {
  background-color: rgb(43, 42, 42);
  color: white;
}

button.btn {
  font-size: 1.10rem;
  border-radius: 0rem;
  background-color: rgb(59, 57, 57);
  border: 2px solid white;
  color: white;
  box-shadow: none;
  outline: 0;
}

button.btn:hover {
  background-color: rgb(92, 92, 92);
  color: white;
  border: 2px solid white;
  box-shadow: none;
  outline: 0;
}

button.btn:focus {
  background-color: rgb(92, 92, 92);
  color: white;
  border: 2px solid white;
  box-shadow: none;
  outline: 0;
}

button.btn:active {
  background-color: rgb(92, 92, 92);
  color: white;
  border: 2px solid white;
  box-shadow: none !important;
  outline: 0;
}

.wrapper_center {
  display: flex;
  justify-content: center;
}

.navbar_custom {
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 50%);
}

.padding_5 {
  padding: 6px;
}

.padding_10 {
  padding: 10px;
}

.float_right {
  float: right;
}

.left_margin_auto {
  margin-left: auto;
}

.no_right_margin {
  margin-right:0;
}

.parent_div {
  display: flow-root;
}

.padding_right_10 {
  padding-right: 10px;
}

.padding_left_10 {
  padding-left: 10px;
}

.padding_top_10 {
  padding-top: 10px;
}

.padding_bottom_10 {
  padding-bottom: 10px;
}

.no_padding {
  padding: 0 !important;
}

.no_margin {
 margin: 0 !important;
}

.standard_div {
  background-color: black;
  box-shadow: 0 6px 20px rgb(0 0 0 / 0.4);
  border: 1px solid white;
}

.standard_div_shadow {
  background-color: black;
  box-shadow: 0 8px 20px rgb(0 0 0 / 0.7);
  border: 1px solid white;
}

.standard_div_shadow_no_border {
  background-color: black;
  box-shadow: 0 8px 20px rgb(0 0 0 / 0.7);
}

.standard_gray_div {
  background-color: rgb(43, 42, 42);
  border: 1px solid rgb(255, 255, 255);
}

.standard_gray_div_no_border {
  background-color: rgb(43, 42, 42);
}

.standard_gray_div_shadow {
  background-color: rgb(43, 42, 42);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.7);
  border: 1px solid rgb(255, 255, 255);
}

.standard_dirty_white_div {
  background-color: rgb(255, 244, 244);
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.4);
  border: 1px solid rgb(255, 255, 255);
}

.standard_dirty_white_div_shadow {
  background-color: rgb(255, 244, 244);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.7);
  border: 1px solid rgb(255, 255, 255);
}

.standard_white_div {
  background-color: white;
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.4);
  border: 1px solid black;
}

.standard_white_div_shadow {
  background-color: white;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.7);
  border: 1px solid black;
}

.checkbox_button {
  cursor: pointer;
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

.checkbox_button_input {
    opacity: 0;
    position: absolute;
}

.checkbox_button_control {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
    vertical-align: middle;
    background-color: inherit;
    color: #534e4e;
    border: 2px solid white;
}

.checkbox_button_input:checked+.checkbox_button_control:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: white;
}

.checkbox-button_input:checked+.checkbox_button_control {
    border-color: white;
}

.checkbox_button_control {
  transform: scale(0.85);
}

.row_no_gutter {
  --bs-gutter-x: 0rem;
}

.text_green {
  color: rgb(44, 253, 44);
}

.text_red {
  color: rgb(255, 51, 51);
}

.text_nice_blue {
  color: #46bcde;
}

.black_shadow_force {
  box-shadow: 0 8px 20px rgb(0 0 0 / 0.7) !important;
}

.bg_green_div {
  background-color: green !important;
}

.bg_blue_div {
  background-color: blue !important;
}

.bg_red_div {
  background-color: red !important;
}

.bg_orange_div {
  background-color: orange !important;
}

.bg_purple_div {
  background-color: purple !important;
}

.border_white {
  border: 1px solid rgb(255, 255, 255);
}

.border_right_white {
  border-right: 2px solid rgb(255, 255, 255);
}

.border_bottom_white {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.text_right {
  text-align: right;
}

.row_block {
  display: block;
}

.form-control:disabled {
  background-color: rgb(59, 57, 57);
  opacity: 0.65;
  pointer-events: none;
}

.review_top_row_margin {
  margin-top: 25px !important;
}
