/* html {

}

body {

} */

/* Extra extra small devices (phones, 510px and down) */
/* @media only screen and (max-width: 510px) {

} */

/* Extra small devices (phones, 650px and down) */
/* @media only screen and (max-width: 650px) {

} */

/* Small devices (portrait tablets and large phones, 650px and up) */
/* @media only screen and (min-width: 650px) {

} */

/* Scrollable menu for low-height devices                                                                */
/* @media only screen and (max-height: 450px) {

} */

/* Medum devices (Small laptops and tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {

} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {

} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  .form_container_index {
    border-radius: 0px;
    height: 560px;
    max-width: 100%;
    float: right;
    margin-right: 0%;
    margin-top: 2%;
    /* border: 10px solid rgb(255, 81, 232); */
    background: rgb(0,0,0);
    background: -moz-linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(95,107,110,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(95,107,110,1) 100%);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(95,107,110,1) 100%);
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 50%);
  }

  .login_form {
    margin-bottom: 5%;
  }

  .wrapper_index {
    border-radius: 12px;
    margin: auto;
    margin-top: 5%;
    width: 80%;
    display: flex;
  }


  #intro_div {
    flex: 0 0 65%;
    /* background-color: brown; */
    margin-top: 3.5%;
    margin-bottom: 1.5%;
  }
  
  #form_div {
    float: right;
    flex: 1;
    /* background-color: blueviolet; */
  }

  .front_logo {
    position: absolute;
    width: 0%;
    bottom: 3%;
    left: 10%;
  }

  .intro_line1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 7.5rem;
    line-height: 100%;
  }

  .intro_line2 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(216, 0, 0);
    line-height: 100%;
    font-size: 5.75rem;
  }

  .intro_line3 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 8rem;
    line-height: 100%;
  }

}

.center_nav_brand {
  margin-bottom: 0;
}

input.form_control_custom1 {
  border-radius: 0rem;
  background-color: white;
  color: black;
  width: 85%;
  margin: auto;
  margin-top: 1.5%;
  margin-bottom: 0.60%;
}

.form_buttons {
  width: 85%;
  margin: auto;
  margin-top: 1.5%;
  margin-bottom: 1%;
}

.transform_right {
  position: relative;
  z-index: -1;
  transform: rotateY(-25deg);
}

.perspective_right {
 perspective: 100rem;
 position: relative;
}
